@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
	background-color: #F8F9FA;
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #495057;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

.page__container {
	max-width: 1270px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.row__body {
	margin-bottom: 44px;
}

.row__body-categories {
	display: flex;
	flex-direction: row;
	row-gap: 10px;
	gap: 15px;
	justify-content: space-between;
	line-height: 2;
}

.row__body-categories--plus::after {
	content: "+";
	flex-direction: row;
	gap: 7px;
}

.row__body-categories--plus:hover {
	color: rgba(73, 80, 87, 0.50);
}

.row__body-column--first:hover {
	color: rgba(73, 80, 87, 0.50);
}

.row__body-column--second:hover {
	color: rgba(73, 80, 87, 0.50);
}

.row__body-column {
	display: flex;
	gap: 20px;
}

.card__date {
	font-weight: 300;
	line-height: 1.6;
	margin: 0px 0 15px 0;
}

.card__title {
	font-weight: 700;
	color: #212529;
	font-size: 25px;
	line-height: 1.6;
	margin: 0 0 15px 0;
}

.card__title:hover {
	color: rgba(73, 80, 87, 0.50);
}

.card__text {
	font-weight: 300;
	line-height: 1.6;
	padding: 0 0 15px 0;
	margin: 0 0 15px 0;
	border-bottom: 0.1rem solid #E5E5E5;
}

.card__by {
	font-weight: 300;
	line-height: 1.6;
}

.card__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
	row-gap: 45px;
}

.card__body {
	padding: 0px 15px;
	flex: 0 1 33.333%;
}

.card__img {
	position: relative;
	margin: 0 0 30px 0;
}

.card__img img {
	max-width: 100%;
	border-radius: 3px;
}

.card__img:hover {
	opacity: 0.5;
}

.card__img--text {
	position: absolute;
	top: 30px;
	right: 29px;
	color: #F8F9FA;
	text-align: center;
	font-size: 8px;
	font-weight: 700;
	line-height: 2.5;
	border-radius: 3px;
	background: rgba(33, 37, 41, 0.30);
	padding: 3px 12px 2px 12.7px;
}

.card__more a {
	color: #F8F9FA;
	text-align: center;
	line-height: 1.6;
	border-radius: 3px;
	background: #212529;
	padding: 7px 50px 8px 49px;
}

.card__more {
	margin: 60px auto;
}

.card__more a:hover {
	padding: 14px 100px 16px 98px;
}
