@import url("reset.css");

.footer__title {
	color: chocolate;
}

.footer__title li {
	color: aquamarine;
}

.game__process {
	color: blue;
}

.story > p {
	color: red;
}

.story + p {
color: blueviolet;
}

.development {
color: coral;
}

.system__requirements, h1, h2 {
	color: red;
}

#h-6{
	color: midnightblue;
}

.downloadable__add-ons ~ p {
	color: darkgoldenrod;
}

.downloadable__add-ons {
	color: aqua;
}

.see__also {
	color: cyan;
}

.ratings__reviews {
	color: rebeccapurple;
}

