@import "_reset.scss";
@import "_common.scss";

// Шрифт
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
	font-family: "Oswald", sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #000;
}

.page {
	padding-top: 41px;
}

[class*="__container"] {
	max-width: 1908px;
	padding: 0 15px;
	margin: 0 auto;
}

// .page__brand brand
.brand {
	border-width: 2px;
	border-style: groove;
	border-color: #c3c3c4;
	margin-bottom: 29px;

	// .brand__title
	&__title {
		font-weight: 400;
		font-size: 24px;
		text-transform: uppercase;
		text-align: center;
		line-height: 1.87;

		@media screen and (min-width: 991.98px) {
			padding: 0 93px;
		}

		@media screen and (max-width: 991.98px) {
			padding: 0 35px;
		}
	}

	// .brand__row
	&__row {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;

		@media screen and (min-width: 991.98px) {
			padding: 6px 12px 28px;
			margin: 0 -35px -35px 0;
		}

		@media screen and (max-width: 991.98px) {
			margin: 0 -20px -20px 0;
		}
	}

	// .brand__image
	&__image {
		display: flex;
		flex: 14.285%;
		min-width: 200px;

		@media screen and (min-width: 991.98px) {
			height: 176px;
			padding: 0 35px 35px 0;
		}

		@media screen and (max-width: 991.98px) {
			height: 140px;
			padding: 0 20px 20px 0;
		}

		// .brand__image a
		a {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			padding: 20px;
			transition: background-color 0.3s ease;

			&:hover,
			&:focus-visible {
				background-color: #f0f1f2;
			}
		}

		// .brand__image img
		img {
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
	}
}

.card {

	// .card__grid
	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;

		@media screen and (min-width: ) {
			
		}
	}

// .card__body
&__body {
	position: relative;


	&--big-mod {
		grid-area: span 2;

		&__image {
			height: 898px;
		}
	}
}

&__body:first-child &__text {
	right: 15.3%;
	top: 48%;
	transform: translateY(-50%);
}

&__body:nth-child(2) &__text {
	top: 67.7%;
	left: 7%;
	transform: translateY(-50%);
}

&__body:nth-child(3) &__text {
	left: 8.1%;
	top: 48%;
	transform: translateY(-50%);
}

&__body:first-child &__title {
	max-width: 221px;
}

&__body:nth-child(2) &__title {
	max-width: 357px;
}

	// .card__image
	&__image {
		position: relative;
		height: 434px;
		display: flex;
	}

	// .card__text
	&__text {
		position: absolute;
		padding: 20px;
		color: #000;
	}

	// .card__title
	&__title {
		font-weight: 600;
		font-size: 48px;
		line-height: 1.27;
		text-transform: uppercase; 
		margin-bottom: 7px;

		&--size-mod {
			font-size: 96px;
		}
	}


	// .card__subtitle
	&__subtitle {
		font-family: "Roboto", sans-serif;
		font-weight: 300;
		font-size: 22px;
		line-height: 1.68;
		letter-spacing: 0.01em;
		margin-bottom: 65px;
	}

	// .card__button
	&__button {
		font-weight: 500;
		font-size: 18px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		text-align: center;
		border: 2px solid #000;
		padding: 14px 42px 12px 43px;
		transition: all 0.4s;

		&:hover {
			color: gray;
			border: 2px solid gray;
		}
	}
}
