@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #6C757D;
}

[class*="__container"] {
	max-width: 1270px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.wraper__text-block {
	max-width: 816px;
	margin: 0 auto 80px;
}

.wraper__container {
	padding-top: 20px;
	padding-bottom: 60px;
}

.wraper__title {
font-size: 25px;
font-weight: 700;
color: #212529;
line-height: 1.6;
margin-bottom: 40px;
max-width: 605px;
}

.wraper__text-block p {
	line-height: 1.78;
	margin-bottom: 30px;
}

.wraper__img {
	max-width: 100%;
	margin-bottom: 80px;
	font-size: 0;
}

.wraper__img-1 {
	margin-right: 30px;
}