@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

body {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #000;
}

.page {
  padding-top: 41px;
}

[class*=__container] {
  max-width: 1908px;
  padding: 0 15px;
  margin: 0 auto;
}

.brand {
  border-width: 2px;
  border-style: groove;
  border-color: #c3c3c4;
  margin-bottom: 29px;
}
.brand__title {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.87;
}
@media screen and (min-width: 991.98px) {
  .brand__title {
    padding: 0 93px;
  }
}
@media screen and (max-width: 991.98px) {
  .brand__title {
    padding: 0 35px;
  }
}
.brand__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 991.98px) {
  .brand__row {
    padding: 6px 12px 28px;
    margin: 0 -35px -35px 0;
  }
}
@media screen and (max-width: 991.98px) {
  .brand__row {
    margin: 0 -20px -20px 0;
  }
}
.brand__image {
  display: flex;
  flex: 14.285%;
  min-width: 200px;
}
@media screen and (min-width: 991.98px) {
  .brand__image {
    height: 176px;
    padding: 0 35px 35px 0;
  }
}
@media screen and (max-width: 991.98px) {
  .brand__image {
    height: 140px;
    padding: 0 20px 20px 0;
  }
}
.brand__image a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  transition: background-color 0.3s ease;
}
.brand__image a:hover, .brand__image a:focus-visible {
  background-color: #f0f1f2;
}
.brand__image img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.card__body {
  position: relative;
}
.card__body--big-mod {
  grid-area: span 2;
}
.card__body--big-mod .card__image {
  height: 898px;
}
.card__body:first-child .card__text {
  right: 15.3%;
  top: 48%;
  transform: translateY(-50%);
}
.card__body:nth-child(2) .card__text {
  top: 67.7%;
  left: 7%;
  transform: translateY(-50%);
}
.card__body:nth-child(3) .card__text {
  left: 8.1%;
  top: 48%;
  transform: translateY(-50%);
}
.card__body:first-child .card__title {
  max-width: 221px;
}
.card__body:nth-child(2) .card__title {
  max-width: 357px;
}
.card__image {
  position: relative;
  height: 434px;
  display: flex;
  background-size: cover;
}
.card__text {
  position: absolute;
  padding: 20px;
  color: #000;
}
.card__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.27;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.card__title--size-mod {
  font-size: 96px;
}
.card__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.68;
  letter-spacing: 0.01em;
  margin-bottom: 65px;
}
.card__button {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #000;
  padding: 14px 42px 12px 43px;
  transition: all 0.4s;
}
.card__button:hover {
  color: gray;
  border: 2px solid gray;
}