//PC
$desktop: em(1920);
$laptop: em(1440.98);
$tablet: em(962.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(426.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S