.button {
	display: inline-block;
	padding: 15px 40px;
	border: 1px solid #FF3F3A;
	border-radius: 4px;
	color: #fff;
	background-color: #FF3F3A;
	transition: all 0.5s ease 0s;
}

.button:hover {
	color: #FF3F3A;
	background-color: #fff;
}