@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
	background: #FFF;
	font-family: "Poppins", sans-serif;
	color: #9C9C9C;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
max-width: 1230px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}
.page__header {
	padding-top: 20px;
}
.page__header:not(:last-child) {
	margin-bottom: 40px;
}
.page__header h3 {
	color: #000;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	display: flex;
	gap: 15px;
	align-items: center;
}
.page__header h3::after {
	content: " ";
	background: #000;
	height: 2px;
	max-width: 464px;
	width: 100%;
	display: inline-block;
}
.column-cards__item {
	display: flex;
	flex: 0 1 334px;
	align-items: center;
	gap: 120px;
	margin-bottom: 40px;
}
.column-cards__body h2 {
	color: #333;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4;
	margin-bottom: 20px;
}
.minimalist__title {
	color: #000;
	text-align: center;
	font-size: 56px;
	font-weight: 700;
	line-height: 1.4;
	margin-bottom: 40px;
}
.minimalist__text {
	color: #000;
	text-align: center;
	line-height: 1.6;
	margin-bottom: 53px;
}
.manimalist__picture img {
	max-width: 100%;
	margin-bottom: 100px;
}
.project__item {
	display: flex;
	gap: 32px;
}
.project__body {
	display: flex;
	flex-direction: column;
	flex: 0 0 50%;
}
.left-side__info {
	display: flex;

	gap: 80px;
}
.left-side__title, .right-side__title {
	color: #333;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4;
	margin-bottom: 24px;
}
.left-side__text {
	margin-bottom: 60px;
}
.right-side__text p{
	margin-bottom: 30px;
}

.project__img img{
	max-width: 100%;
}

.project__img {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 32px;
	padding-bottom: 100px;
}


